body {
  margin: 0;
  padding: 0;
}

body > div {
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 20px;
}

.wrapper {
  margin: 0 100px;
}

/* header start */
.Header-logo {
  animation: Header-logo-spin infinite 20s linear;
  height: 80px;
}
@keyframes Header-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
/* end header */

/* play-game start */
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
.square:focus {
  outline: none;
}
.game {
  display: flex;
  flex-direction: row;
}
.game-info {
  margin-left: 20px;
}
/* end play-game */
